.top_nav_right 
{
    height: 50px;
    line-height: 50px;
    font_size: 13px;
    color: #b5aec4;
}

.visitor_name
{
     text-decoration: none;
}

.main_content row
{
    margin-bottom: 50px;
}
.active
{
    font-style: italic;
    font-weight: bolder
}
.product_author
{
    float: left;
    padding-left: 5px;
}

.btn-price {
    padding-right: 0px;
    border: none;
    background-image: linear-gradient(to bottom, cyan, blue);
    font-size: 25px;
    color: white;
}
.InfoPayment{
    font-size: 16px;
}
.hidden{
    display: none;
}
