
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">HAHAHAHAAHAHAH</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <!-- /.row -->
</div>

